<div>
    <div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
        <h3 fxFlex>Structure du fichier</h3>
        <div fxFlex></div>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content style="overflow-y: scroll; max-height: 400px !important;">
        <ngx-json-viewer [json]="fileStructure" [expanded]="true"></ngx-json-viewer>
    </div>
</div>
