$type-colors: (
  string: #05668D,
  number: #009688,
  array: #999,
  object: #999,
  function: #999,

  'null': #999,
  undefined: #999
);

@each $type, $color in $type-colors {
  ::ng-deep .segment-type-#{$type} > .segment-main > .segment-key {
    color: $color !important;
  }
}