<h2 class="mat-title">Importation de données</h2>

<p class="mat-body-1">
    Vous pouvez ici téléverser des fichiers contenant des nouvelles données pour le SIE. Les fichiers doivent être dans
    le format définit pour le type de données à importer.
</p>

<p class="mat-body-1">
    <strong>Attention</strong>: L'importation va écraser les données de l'import précédent du même type!
</p>

<form #uploadForm="ngForm" fxLayout="column">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedType" name="type" placeholder="Type d'importation" [disabled]="isCheckStarted">
            <mat-option *ngFor="let importType of importTypes" [value]="importType">{{ importType.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="box" *ngIf="selectedType">
        <h4 class="mat-caption">Description</h4>
        <p class="mat-body-1">{{ selectedType?.description }}</p>
        <a id="example-download" class="mat-body-1" [href]="selectedType?.example" download fxLayout="row"
            fxFlexAlign="start center" *ngIf="selectedType?.example">
            <mat-icon>get_app</mat-icon> Télécharge un fichier example
        </a>
    </div>


    <div class="box" fxLayout="column" *ngIf="selectedType">
        <mat-form-field>
            <ngx-mat-file-input required [(ngModel)]="selectedFile" name="selectedFile"
                [accept]="selectedType?.fileTypes" placeholder="Fichier avec les données" [disabled]="isCheckStarted">
            </ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <div fxLayout="row" *ngIf="!isCheckStarted || !selectedFile">
            <button type="submit" mat-flat-button color="primary" (click)="openFileCheckView()"
                [disabled]="uploadForm.pristine || !uploadForm.valid || importing">Téléverser</button>
        </div>
        <div fxLayout="row" *ngIf="isCheckStarted && selectedFile">
            <sie-import-progress [selectedType]="selectedType" [selectedFile]="selectedFile" fxFlex 
            (stepperClosed)="closeStepper()"></sie-import-progress>
        </div>
    </div>
</form>