<h1 mat-dialog-title>Ajouter une section</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Section</mat-label>
    <input matInput [(ngModel)]="data.sectionName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Non</button>
  <button mat-button [mat-dialog-close]="data.sectionName" cdkFocusInitial>Oui</button>
</div>