<mat-horizontal-stepper linear #stepper>
    <!-- Check Import Step-->
    <mat-step label="Verification du fichier" completed="false" editable="false">
        <div>
            <div class="spinner-wrapper" fxLayout="row">
                <p *ngIf="isImportCheckRunning">Verification est en cours pour le fichier
                    <strong>{{selectedFile.fileNames}}</strong> de type <strong> {{selectedType.label}}</strong>
                </p>
                <p *ngIf="!isImportCheckRunning && isImportCheckSucceeded">Verification est terminée avec succès
                </p>
                <p *ngIf="!isImportCheckRunning && !isImportCheckSucceeded">La verification a échoué
                </p>
                <mat-icon *ngIf="!isImportCheckRunning && !isImportCheckSucceeded" aria-hidden="false"
                    style="margin-left: 8px;">error</mat-icon>
                <mat-progress-spinner *ngIf="isImportCheckRunning" color="primary" mode="indeterminate" [diameter]="30">
                </mat-progress-spinner>
            </div>
            <br>
            <div *ngIf="!isImportCheckRunning && !isImportCheckSucceeded">
                <p *ngFor="let error of importStatus?.importErrors">{{error?.errorDescription}}
                </p>
            </div>
            <button *ngIf="isImportCheckSucceeded" [disabled]="isImportCheckRunning || !isImportCheckSucceeded"
                mat-flat-button matStepperNext (click)="importPreProcess(); nextClicked(stepper)"
                color="primary">Analyse des données</button>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button *ngIf="!isImportCheckRunning && !isImportCheckSucceeded && !isForceImportChecked"
                    mat-flat-button (click)="openDataMappingDialog()" color="primary">Résoudre le problème
                    d'importation</button>
                <mat-checkbox *ngIf="!isImportCheckRunning && !isImportCheckSucceeded" [checked]="isForceImportChecked"
                    (change)="openConfirmDialog($event?.checked)">Forcer L'importation</mat-checkbox>
            </div>

        </div>
    </mat-step>
    <!-- KPI Step -->
    <mat-step label="Analyse des données" completed="false" editable="false">
        <div *ngIf="isImportPreResultCalculationRunning" class="spinner-wrapper" fxLayout="row">
            <p>Calculation est en cours pour les indicateurs clés de performance
            </p>
            <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="30">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!isImportPreResultCalculationRunning">
            <p>Verifier les indicateurs clés de performance</p>
            <sie-kpi-charts [importPreResultList]="importPreResultList" [chartType]="'bar'"></sie-kpi-charts>
            <button mat-flat-button matStepperNext (click)="nextClicked(stepper)" color="primary">Envoyer une demande
                d'importation</button>
        </div>
    </mat-step>
    <!-- Finaliser L'importation Step -->
    <mat-step label="Demande d'importation" completed="false" editable="false">
        <div>
            <div class="spinner-wrapper" fxLayout="row">
                <p>La demande d'importation a été éffectuée
                </p>
            </div>
            <button mat-flat-button matStepperNext (click)="nextClicked(stepper); stepperClosed.emit($event)"
                color="primary">Fermer</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>