.content {
    margin-top: 32px;
}

.info-card{ 
    margin: 20px;
    height: 170px;
    width: 300px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    mat-card-content:not(.no-style) {
        height: 170px;
        width: 300px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        flex-direction: column;
        max-height: 100%;
        justify-content: center;
        align-items: stretch;
    }

    .no-style{
        margin-top: 16px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    .mat-progress-spinner{
      margin-left: 8px;
    }
  }