<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex></div>
    <div *ngIf="!importing && !isImportSucceeded && importStep !== 'import'">
        <button mat-raised-button color="primary" style="margin: 8px;" (click)="upload()">Approuver</button>
        <button mat-raised-button color="warn" style="margin: 8px;" (click)="openRejectImportDialog()">Rejeter</button>
    </div>
    <div *ngIf="importing" class="spinner-wrapper" fxLayout="row">
        <h2>L'importation est en cours ...</h2>
        <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="30">
        </mat-progress-spinner>
    </div>
    <div fxFlex></div>
</div>

<div class="content" fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="16px grid">

    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
            <mat-card class="info-card" raisedElevation="16" style="cursor: default;">
                <mat-card-content class="no-style">
                    <h3 style="line-height: 4px;">Nom d'utilisateur: {{selectedImportElement?.userName}}</h3>
                    <h3 style="line-height: 4px;">Status: {{selectedImportElement?.importStatus}} </h3>
                    <h3 style="line-height: 4px;">Type: {{selectedImportElement?.type}}</h3>
                    <h3 style="line-height: 4px;">Date: {{selectedImportElement?.dateStarted | date: 'medium'}}</h3>
                </mat-card-content>
            </mat-card>
            <mat-card class="info-card" raisedElevation="16" (click)="download()" download>
                <mat-card-content>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div class="mat-body-1">
                            <h2>Télécharger le fichier d'importation</h2>
                            <h5>{{selectedImportElement?.filename}}</h5>
                            <mat-icon style="font-size: 32px;">get_app</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="info-card" raisedElevation="16" (click)="openFileStructureViewerDialog()">
                <mat-card-content>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h2>Structure du fichier</h2>
                        <mat-icon style="font-size: 32px;">pageview</mat-icon>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="info-card" raisedElevation="16" (click)="openRejectInfoHistoryViewerDialog()">
                <mat-card-content>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h2>Afficher l'historique des commentaires</h2>
                        <mat-icon style="font-size: 32px;">history</mat-icon>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-divider style="margin: 8px;"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 style="margin: 8px;">Les indicateurs clés de performance</h2>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                (change)="this.selectedChartType = $event?.value">
                <mat-button-toggle value="bar" checked>Bar</mat-button-toggle>
                <mat-button-toggle value="line">Line</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!--Filter Panel-->
        <sie-filter-panel [elements]="importPreResultList" [initialMinYearValue]="initialMinYearValue"
            [initialMaxYearValue]="initialMaxYearValue" (selectionChanged)="onChange($event)"
            (minFilterChanged)="minFilter($event)" (maxFilterChanged)="maxFilter($event)" (filterRemoved)="removeFilter()"></sie-filter-panel>
        <sie-kpi-charts [importPreResultList]="importPreResultList" [chartType]="selectedChartType"></sie-kpi-charts>
    </div>
</div>