<div fxLayout="column" id="home-root">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <img src="assets/meh-1200.png" alt="MEEH" id="logo_meeh" style="height: 120px; width: 120px;" />
        <h1 class="mat-display-1" id="title" fxFlex>Bienvenue sur le Système d'Information Énergétique de Madagascar
        </h1>
        <img src="assets/madagasikara.96.png" alt="Repoblikan'i Madagasikara" id="logo_mdg" />
    </div>

    <div fxFlex></div>

    <p class="mat-body-2">
        Le SIE vous renseigne sur le secteur de l’énergie à Madagascar y compris les sous-secteurs de l’électricité, des
        hydrocarbures et de la biomasse.
    </p>

    <p class="mat-body">
        Il offre une grande variété d'informations sur le secteur d'énergie à Madagascar, y compris les sous-secteur
        d'électricité, d'hydrocarbures et de biomasse.
    </p>

    <p class="mat-body">
        Utilisez la navigation à gauche pour gagner accès aux différentes indicateurs pour le secteur et les
        sous-secteurs.
    </p>

    <div fxFlex></div>
</div>