<h1 mat-dialog-title>Liste des indices qui sont mal placés</h1>
<div mat-dialog-content style="overflow-y: scroll; max-height: 300px !important;">
    <p>Verifier que chaque indice se trouve dans la position correcte</p>
    <div *ngFor="let it of fileStructure?.FileStructureFrench;">
        <mat-form-field class="fullWidth">
            <mat-label>{{it.property}}</mat-label>
            <input type="number" matInput [(ngModel)]="it.row">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" [matDialogClose]="undefined">Non</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="fileStructure" cdkFocusInitial>Oui</button>
</div>