<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
    <div *ngFor="let importPreResult of importPreResultList">
        <div class="chart">
            <h3>{{ importPreResult?.kpiName }}</h3>
            <canvas baseChart width="700px" [datasets]="[importPreResult?.oldValues, importPreResult?.newValues]"
                [labels]="importPreResult?.commonLabels"
                [options]="importPreResult?.kpiName === 'Production Annuelle' ? chartOptionsProductionAnnuelle : chartOptions"
                [legend]="true" [chartType]="chartType">
            </canvas>
        </div>
    </div>

</div>