<mat-toolbar class="sie-toolbar" color="primary">
  <!--First row when opening in large browser-->
  <mat-toolbar-row *ngIf="size !== breakpoints.Small && size !== breakpoints.XSmall" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-butto mat-button="" matTooltip="Accueil" routerLink="/enregistrer">
      <mat-icon>home</mat-icon>
    </button>
    <img src="assets/meh-1200.png" alt="MEEH" [ngClass]="{ 'non-home': !isHome }" style="height: 50px; width: 50px;"/>
    <div fxFlex></div>
    <h2 class="mat-h2">Système d'Information Energétique pour Madagascar</h2>
    <div fxFlex>
    </div>
    <button *ngIf="isAuthenticated" mat-icon-butto mat-button="" matTooltip="Tableaux de Bord" routerLink="/tableau">
      <mat-icon>dashboard</mat-icon>
    </button>
    <sie-theme-switcher></sie-theme-switcher>
    <button mat-icon-button [matMenuTriggerFor]="adminMenu" matTooltip="Menu" *sieAuthorize="'users'">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <!--First row when opening on a small device-->
  <mat-toolbar-row *ngIf="size === breakpoints.Small || size === breakpoints.XSmall" fxLayout="row" fxLayoutAlign="space-between center">
    <button *ngIf="isAuthenticated" mat-icon-butto mat-button="" matTooltip="Accueil" routerLink="/enregistrer">
      <mat-icon>home</mat-icon>
    </button>
    <div fxFlex></div>
    <button *ngIf="isAuthenticated" mat-icon-butto mat-button="" matTooltip="Tableaux de Bord" routerLink="/tableau">
      <mat-icon>dashboard</mat-icon>
    </button>
    <sie-theme-switcher></sie-theme-switcher>
    <button mat-icon-button [matMenuTriggerFor]="adminMenu" matTooltip="Menu" *sieAuthorize="'users'">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <!--Second row when opening in extra small device-->
  <mat-toolbar-row *ngIf="size === breakpoints.XSmall || size === breakpoints.Small" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="assets/meh-1200.png" routerLink="/accueil" alt="MEEH" matTooltip="Acueil"
      [ngClass]="{ 'non-home': !isHome }" style="height: 50px; width: 50px;" />
    <div fxFlex></div>
    <h2 *ngIf="size === breakpoints.Small" class="mat-h2">Système d'Information Energétique pour Madagascar</h2>
    <h2 *ngIf="size === breakpoints.XSmall" class="mat-h2">SIE Madagascar</h2>
    <div fxFlex>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #adminMenu="matMenu">
  <a mat-menu-item routerLink="/mon-compte" *sieAuthorize="'users'">Mon compte</a>
  <a mat-menu-item routerLink="/tache/correcture-joomla" *sieAuthorize="'data_admins'">Corriger liens en Joomla</a>
  <a mat-menu-item routerLink="/utilisateurs" *sieAuthorize="'user_admins'">Gérer comptes d'utilisateurs</a>
  <a mat-menu-item routerLink="/donnees/televerser" *sieAuthorize="'data_admins'">Importer des données</a>
  <a mat-menu-item routerLink="/donnees/approuver" *sieAuthorize="'user_admins'">Approuver des données</a>
  <a mat-menu-item routerLink="/tableau/gérer" *sieAuthorize="'user_admins'">Gérer les tableaux de bord</a>
  <a mat-menu-item routerLink="/enregistrer" (click)="logout()" *sieAuthorize="'users'">Se déconnecter</a>
</mat-menu>

<mat-sidenav-container fxFlex>
  <mat-sidenav-content fxLayout="column" style="overflow:scroll;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <a mat-button routerLink="/mentions-legales">Mentions légales</a>
      <img src="assets/madagasikara.48.png" alt="Repoblikan'i Madagasikara" [ngClass]="{ 'non-home': !isHome }" />
    </mat-toolbar-row>
  </mat-toolbar>
</footer>