<h2 class="mat-title">Correcture des liens en Joomla</h2>

<form #joomlaForm="ngForm" (ngSubmit)="performReplacement()">
  <fieldset class="non-visual" [disabled]="performing">
    <section class="step">
      <h3 class="mat-subheading-2">Sélection du préfix</h3>

      <p class="mat-body-1">Sélectionnez le correcte préfix que vous avez configuré en Joomla pour la base de données.
        La liste contienne tous les préfixes trouvés dans la base de données.</p>

      <mat-select #prefix name="prefix" placeholder="Préfix" [(ngModel)]="selectedPrefix" required>
        <mat-option *ngFor="let prefix of $prefixes | async" [value]="prefix">{{ prefix }}</mat-option>
        <mat-option value="_"><em>Aucun préfix</em></mat-option>
      </mat-select>
    </section>

    <section class="step" *ngIf="selectedPrefix">
      <h3 class="mat-subheading-2">Comfiguration du remplacement</h3>

      <p class="mat-body-1">Sélectionnez les adresses de serveurs trouvées dans la base de données que vous voulez
        remplacer avec des nouvelles adresses et entrez la nouvelle adresse. Les sous-domaines dans les adresses
        originales resteraient les mêmes. Par ex. : Si vous sélectionnez « sie-madagascar.de » et entrez « sie.mg »
        comme remplacement, l'adresse « superset.sie-madagascar.de » srait changé en « superset.sie.mg », etc.</p>

      <mat-checkbox name="domain-{{ domain }}" *ngFor="let domain of $domains | async" [(ngModel)]="domains[domain]">
        {{ domain }}</mat-checkbox>

      <mat-divider></mat-divider>

      <mat-form-field>
        <input matInput name="replacement" placeholder="Nom de remplacement" [(ngModel)]="replacementDomain" required />
      </mat-form-field>
    </section>

    <section fxLayout="row">
      <button mat-button type="submit" color="primary"
        [disabled]="joomlaForm.pristine || joomlaForm.invalid">Effectuer</button>
    </section>
  </fieldset>
</form>