<mat-form-field>
    <input matInput [value]="data.url" disabled placeholder="URL du tableau de bord" />
    <button mat-button mat-icon-button matSuffix matTooltip="Copier l'URL" (click)="copyUrl()">
      <mat-icon>content_copy</mat-icon>
    </button>
</mat-form-field>

<sie-comments-display [comments]="comments" (append)="appendComment($event)" *sieAuthorize="'data_users'"></sie-comments-display>
