<h1 matDialogTitle>Confirmation</h1>
<mat-dialog-content>Êtes-vous sûr de vouloir {{ data.action }}&nbsp;?. {{ data.info}}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [matDialogClose]="false" cdkFocusInitial>Non</button>
    <button mat-button color="warn" [matDialogClose]="true">Oui</button>
</mat-dialog-actions>