<mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl" class="indicator-tree" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node" [cdkDragDisabled]="!canModify(node)">
      <div *cdkDragPlaceholder class="drag-placeholder"></div>
      <div class="section-display" fxLayout="row">
      <button mat-button [disableRipple]="true" matTreeNodeToggle fxFlex>
        <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon> {{ node.title }}
      </button>
      <button mat-icon-button class="delete-button" *ngIf="canModify(node)" (click)="deleteSection(node)" matTooltip="supprimer la section">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when isIndicator" matTreeNodePadding cdkDrag [cdkDragData]="node" [cdkDragDisabled]="!canModify(node)">
      <div *cdkDragPlaceholder class="drag-placeholder"></div>
      <!-- Unfortunately, CdkDrag does not work well with <a>-elements, so use a button here even though it is for navigation -->
    <button mat-button routerLink="/tableau/gérer/{{ node.id }}"><mat-icon>show_chart</mat-icon> {{ node.title }}</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when isAppender" matTreeNodePadding>
    <sie-add-section [parent]="node.parent"></sie-add-section>
  </mat-tree-node>

</mat-tree>
<sie-add-section [parent]="null" *sieAuthorize="'data_admins'"></sie-add-section>
