<h1 mat-dialog-title>Ajouter la raison pour rejeter cette importation</h1>
<div mat-dialog-content>
  <mat-form-field style="min-width: 350px !important;">
    <mat-label>Justification</mat-label>
    <textarea matInput [(ngModel)]="data.rejectText" style="width: 100%; height: 100px"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">Annuler</button>
  <button mat-raised-button [mat-dialog-close]="data.rejectText" cdkFocusInitial>Confirmer</button>
</div>