<div fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-checkbox (change)="showHistory($event.checked)" style="margin:8px;">
            Historique d'importation
        </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
        </div>
        <table fxFlex="80" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="dateStarted">
                <th mat-header-cell *matHeaderCellDef> DateStarted </th>
                <td mat-cell *matCellDef="let element"> {{element.dateStarted | date: 'medium'}} </td>
            </ng-container>

            <ng-container matColumnDef="importStep">
                <th mat-header-cell *matHeaderCellDef> ImportStep </th>
                <td mat-cell *matCellDef="let element"> {{element.importStep}} </td>
            </ng-container>

            <ng-container matColumnDef="importId">
                <th mat-header-cell *matHeaderCellDef> ImportId </th>
                <td mat-cell *matCellDef="let element"> {{element.importId.substring(0,13)}}... </td>
            </ng-container>

            <ng-container matColumnDef="importStatus">
                <th mat-header-cell *matHeaderCellDef> ImportStatus </th>
                <td mat-cell *matCellDef="let element"> {{element.importStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef> UserName </th>
                <td mat-cell *matCellDef="let element">
                    {{element.userName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="importType">
                <th mat-header-cell *matHeaderCellDef> ImportType </th>
                <td mat-cell *matCellDef="let element">
                    {{element.type}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'disabled': row.importStep === 'import'}" [id]="row.importId"
                routerLink="/donnees/approuver/{{row.importId}}/{{row.importStep}}"></tr>
        </table>
        <div fxFlex></div>
    </div>
</div>