mat-card { 
    width: 400px !important;
    height: 370px !important;
    position: relative;
    border-radius: 20px !important;

    .card-image {
         width: 432px !important; 
         height: 300px !important;

         sie-embed-dashboard{
             height: 300px !important;
         }

         .card-overlay { 
            width: 432px !important; 
            height: 402px !important;
            background-color: rgba($color: #000000, $alpha: 0.5); 
            border-radius: 20px;
            position: absolute; 
            top: 0; 
            right: 0; 
            cursor: pointer;
        }
    }
}