    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let indicator of indicators; let i = index;" style="margin: 16px;">
            <mat-card  appMaterialElevation (showOverlay)="onShowOverlay($event, indicator?.id)" [defaultElevation]="defaultElevation" [raisedElevation]="raisedElevation" 
            routerLink="/tableau-indicateur/{{selectedSectionId}}/{{indicator?.id}}">
                <mat-card-header>
                    <mat-card-title>{{indicator?.title}}</mat-card-title>
                </mat-card-header>
                <div class="card-image" mat-card-image>
                    <sie-embed-dashboard [url]="indicator?.url"></sie-embed-dashboard> 
                    <div *ngIf="showOverlay && indicator?.id === hoveredIndicatorId" class="card-overlay"></div> 
                </div>
                <mat-card-content class="card-description" style="overflow: auto;">
                    <p>Aucune description trouvée</p>
                  </mat-card-content>
            </mat-card> 
        </div>
    </div>