<form (submit)="tryLogin()" name="loginForm">
<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenue sur le Système d'Information Énergétique de Madagascar</mat-card-title>
    <mat-card-subtitle> {{ errorMessage }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="username" placeholder="Username" name="username" required #usernameInput="matInput" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="password" placeholder="Password" name="password" required />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-button color="primary" [disabled]="loggingIn">
      <span *ngIf="!loggingIn; else waitForLogin">Log In</span>
      <ng-template #waitForLogin><mat-spinner [diameter]="36"></mat-spinner></ng-template>
    </button>
  </mat-card-actions>
</mat-card>
</form>
