/* You can add global styles to this file, and also import other style files */

@import '~roboto-fontface/css/roboto/roboto-fontface.css';
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';


//include material theming
@import '~@angular/material/theming';
@include mat-core();

// Define the light theme
$light-app-primary: mat-palette($mat-indigo);
$light-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-app-theme:   mat-light-theme($light-app-primary, $light-app-accent);

// Include the light theme styles.
@include angular-material-theme($light-app-theme);


// Define an dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-pink, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// themes will be switched based on class names, angular will switch classes which will trigger the theme change
.dark-theme{
    @include angular-material-theme($dark-theme)
}

.light-theme{
    @include angular-material-theme($light-app-theme)
}
//----------------------------------------------------------------------------------------------------------------
$custom-typography: mat-typography-config(
    $body-1: mat-typography-level(16px, 24px, 400),
    $body-2: mat-typography-level(16px, 24px, 500),
    $button: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
     .mat-step-header .mat-step-icon-state-done {
    background-color: green !important;
    }
}

// Global classes
.fullWidth {
    width: 100% !important;
}

.margin-8px {
    margin: 8px;
}

.margin-32px {
    margin: 32px;
}

.margin-16px {
    margin: 16px;
}
