<mat-accordion class="margin-32px">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filter
            </mat-panel-title>
            <mat-panel-description>
                Cliquez ici pour filtrer les indicateurs clés de performance
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="32px grid">
            <mat-form-field>
                <mat-select placeholder="Kpi Name" (selectionChange)="selectionChanged.emit($event?.value)">
                    <mat-option *ngFor="let ele of elements" [value]="ele">
                        {{ele?.kpiName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Min field-->
            <div fxFlex>
                <mat-form-field class="fullWidth">
                    <mat-label>Min</mat-label>
                    <input type="number" matInput placeholder="Ex. 2010" [(ngModel)]="initialMinYearValue" [value]="initialMinYearValue"
                        (input)="minFilterChanged.emit($event.target?.value)">
                </mat-form-field>
            </div>
            <!--Max field-->
            <div fxFlex>
                <mat-form-field class="fullWidth">
                    <mat-label>Max</mat-label>
                    <input type="number" matInput placeholder="Ex. 2010" [(ngModel)]="initialMaxYearValue" [value]="initialMaxYearValue"
                        (input)="maxFilterChanged.emit($event.target?.value)">
                </mat-form-field>
            </div>
            <div fxFlex></div>
            <div fxFlex>
                <button mat-raised-button class="margin-8px" color="primary"
                    (click)="filterRemoved.emit()">Supprimer le filter</button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>