<form #myAccountForm="ngForm">
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        Changer le mot de passe pour l'utilisateur {{ username }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ errorMessage }}
        {{ successMessage }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field>
          <mat-label>Mot de passe présent</mat-label>
          <input matInput type="password" [(ngModel)]="oldPassword" name="oldPassword" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Nouveau mot de passe (repété)</mat-label>
          <input matInput type="password" [(ngModel)]="repeatPassword" name="repeatPassword" required />
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="update()" [disabled]="myAccountForm.pristine || myAccountForm.invalid">
        Sauvegarder
      </button>
      <button mat-button color="accent" (click)="discard()">
        Annuler
      </button>
    </mat-card-actions>

  </mat-card>
</form>
