<button *sieAuthorize="'user_admins'" raised mat-fab color="accent" matTooltip="Ajouter une section"
  style="margin: 32px;" (click)="openAddSectionDialog()">
  <mat-icon>add</mat-icon>
</button>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
  <div *ngFor="let section of dashboardSections">
    <mat-card class="dashboard-section-card" routerLink="/tableau-section/{{section?.id}}" appMaterialElevation
      [defaultElevation]="defaultElevation" raisedElevation="16">
      <mat-card-header *sieAuthorize="'user_admins'">
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.preventDefault();$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-title>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteSection($event.target?.id)" [id]="section?.name">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <h2>{{section?.title}}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>