.dashboard-section-card{ 
    margin: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    mat-card-content {
        margin-left: 48px;
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
    }

    mat-card-title {
        position:absolute;
        top:10px;
        right: 10px;
    }
}

.dashboard-add-section-card{
    margin:20px;
    height:200px;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}