<h3 class="mat-h3">{{ isExistingUser ? 'Modifier' : 'Ajouter' }} compte d'utilisateur</h3>

<form name="userForm" (ngSubmit)="save()" #userForm="ngForm">
  <mat-form-field>
    <input matInput type="text" [disabled]="isExistingUser" required [(ngModel)]="user.username" name="username" placeholder="Nom d'utilisateur" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="user.firstName" name="firstName" placeholder="Prénom" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="user.lastName" name="lastName" placeholder="Nom de famille"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" pattern="[^@]+@[^@]+" [(ngModel)]="user.mail" required name="mail" placeholder="Courriel" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" [(ngModel)]="newPassword" [required]="!isExistingUser" name="newPassword" placeholder="Mot de passe" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" [(ngModel)]="repeatPassword" [required]="!isExistingUser" name="repeatPassword" placeholder="Mot de passe (repéter)" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Groupes</mat-label>
    <mat-select [(value)]="user.groups" name="groups" multiple>
      <mat-option [value]="group" *ngFor="let group of $allGroups | async">{{ group }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Sur les groupes</mat-panel-title>
      <mat-panel-description>Descriptions des groupes disponibles pour donner des autorisation aux utilisateurs</mat-panel-description>
    </mat-expansion-panel-header>

    <dl>
      <dt class="mat-body-2">users</dt>
        <dd>Utilisateurs réguliers</dd>
      <dt class="mat-body-2">data_users</dt>
        <dd>Cete groupe permette la création et l'édition de graphiques et de tableaux de bord etc. Elle est nécessaire pour s'enregistrer avec SuperSet.</dd>
      <dt class="mat-body-2">data_admins</dt>
        <dd>Cette groupe permette à ses membres de gérer des données, par ex. effectuer des importations de nouvelles données.</dd>
      <dt class="mat-body-2">user_admins</dt>
        <dd>Cette groupe permette la création et l'édition des comptes d'utilisateur.</dd>
    </dl>

    <p><em>N.b.: Un utilisateur peut être un membre de plusieurs groupes.</em></p>
  </mat-expansion-panel>

  <div fxLayout="row">
    <button mat-button type="submit" color="primary" [disabled]="saving || !userForm.form.valid">Sauvegarder</button>
    <a mat-button routerLink="..">Annuler</a>
  </div>
</form>
